<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jls.com.sippyog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_sippyog"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_sippyog"
        android:supportsRtl="true"
        android:theme="@style/AdminMainTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".tentang_aplikasi"></activity>
        <activity android:name=".View.Konsumen.konsumen_tampil_informasi_tkp" />
        <activity
            android:name=".View.Konsumen.konsumen_tampil_kapasitas_parkir"
            android:label="Tampil Kapasitas Parkir"
            android:theme="@style/AdminViewTheme" />
        <activity android:name=".RecycleAdapter.recycle_adapter_detil_kendaraan_laporan" />
        <activity android:name=".RecycleAdapter.recycle_adapter_detil_tiket_hilang_dan_jumlah_kendaraan" />
        <activity android:name=".RecycleAdapter.recycle_adapter_detil_pendapatan_tkp" />
        <activity
            android:name=".View.Admin.Laporan.laporan_tiket_hilang"
            android:label="Laporan Tiket Hilang"
            android:theme="@style/AdminViewTheme" />
        <activity
            android:name=".View.Admin.Laporan.laporan_jumlah_kendaraan"
            android:label="Laporan Jumlah Kendaraan"
            android:theme="@style/AdminViewTheme" />
        <activity
            android:name=".View.Admin.Laporan.laporan_pendapatan_tkp"
            android:label="Laporan Pendapatan TKP"
            android:theme="@style/AdminViewTheme" />
        <activity android:name=".RecycleAdapter.recycle_adapter_detil_kendaraan_parkir" />
        <activity
            android:name=".View.Admin.KapasitasParkir.tampil_detil_kendaraan_parkir"
            android:label="Detail Kendaraan Parkir"
            android:theme="@style/AdminViewTheme" />
        <activity android:name=".View.Admin.admin_laporan_tkp" />
        <activity android:name=".RecycleAdapter.recycle_adapter_kapasitas_parkir" />
        <activity
            android:name=".View.Admin.KapasitasParkir.admin_tampil_kapasitas_parkir"
            android:label="Tampil Kapasitas Parkir"
            android:theme="@style/AdminViewTheme" />
        <activity android:name=".RecycleAdapter.recycle_adapter_kendaraan_keluar" />
        <activity android:name=".RecycleAdapter.recycle_adapter_kendaraan_masuk" />
        <activity android:name=".View.Pegawai.KendaraanKeluar.tambah_data_kendaraan_keluar" />
        <activity android:name=".View.Pegawai.KendaraanMasuk.tambah_data_kendaraan_masuk" />
        <activity
            android:name=".View.Pegawai.KendaraanMasuk.tampil_data_kendaraan_masuk"
            android:label="Data Kendaraan Masuk"
            android:theme="@style/PegawaiViewTheme" />
        <activity
            android:name=".View.Pegawai.KendaraanKeluar.tampil_data_kendaraan_keluar"
            android:label="Data Kendaraan Keluar"
            android:theme="@style/PegawaiViewTheme" />
        <activity android:name=".RecycleAdapter.recycle_adapter_kendaraan" />
        <activity android:name=".RecycleAdapter.recycle_adapter_pegawai" />
        <activity android:name=".RecycleAdapter.recycle_adapter_shift" />
        <activity android:name=".View.Admin.admin_pengelolaan_data" />
        <activity android:name=".View.Admin.admin_main_menu" />
        <activity android:name=".View.Admin.Kendaraan.edit_data_kendaraan" />
        <activity
            android:name=".View.Admin.Kendaraan.tampil_data_kendaraan"
            android:label="Kelola Data Kendaraan"
            android:theme="@style/AdminViewTheme" />
        <activity android:name=".View.Admin.Kendaraan.tambah_data_kendaraan" />
        <activity
            android:name=".View.Admin.Pegawai.tampil_data_pegawai"
            android:label="Kelola Data Pegawai"
            android:theme="@style/AdminViewTheme" />
        <activity android:name=".View.Admin.Pegawai.edit_data_pegawai" />
        <activity android:name=".View.Admin.Pegawai.tambah_data_pegawai" />
        <activity android:name=".View.Admin.Shift.edit_data_shift" />
        <activity
            android:name=".View.Admin.Shift.tampil_data_shift"
            android:label="Kelola Data Shift"
            android:theme="@style/AdminViewTheme" />
        <activity android:name=".View.Admin.Shift.tambah_data_shift" />
        <activity
            android:name=".View.Pegawai.pegawai_main_menu"
            android:theme="@style/PegawaiMainTheme" />
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".View.Konsumen.konsumen_main_menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>